<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <style>
    body {
      padding: 10px 20px;
      font-family: Arial, Helvetica, sans-serif;
    }

    .cta {
      text-decoration: none;
      background-color: #185ADB;
      color: #fff !important;
      font-weight: bold;
      padding: 10px 20px;
      border-radius: 5px;
      margin: 0 auto;
      text-align: center;
    }

    footer {
      margin-top: 2rem;
    }

    p {
      margin: 30px 0;
      font-size: 14px;
    }

    .content,
    .hero,
    .footer {
      width: 80%;
      margin: 0 10%;
    }

    .footer>img {
      margin-top: -50px;
    }

    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      padding: 1px 20px;
      border-radius: 5px;
      background-color: #d8dbe4;
      text-align: justify;
      margin: 0 auto;
      font-size: 16px;
    }

    .logo {
      max-width: 100%;
      width: 150px;
    }
  </style>
</head>

<body>
  <section class="hero">
    <h1 class="title"><b>Hi {{ name }},</b></h1>
  </section>
  <main>
    <div class="content">
      <h2 style="text-align: center;">Forgot your password?</h2>
      <p>We receive a request to reset the password for your account.</p>
      <div class="card">
        <p>Use the link below to set up a new password for your account.</p>
        <div style="text-align: center;">
          <a class="cta" href="{{redirectLink}}" target="_blank">SET NEW PASSWORD</a>
        </div>
        <p>If you did not request to reset your password, ignore this email and the link will expire on its own.</p>
      </div>
    </div>
  </main>
  <footer>
    <div class="footer">
      <p>Thank you,</p>
      <p>KIKBLOX Management</p>
    <img class="logo" src="https://kiktemp-images.blr1.digitaloceanspaces.com/kikblox_logo.png" alt="KIKBLOX Logo">
    </div>
  </footer>
</body>

</html>
